<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrbonk97.hanadangdangbe.repository.mybatis.StockMapper">
    <select id="selectStockPriceList" resultType="com.mrbonk97.hanadangdangbe.dto.StockPriceDto">
        select A.CODE,
               A.PRDT_ABRV_NAME,
               NVL(A.IDX_BZTP_MCLS_CD_NAME, '기타') as IDX_BZTP_MCLS_CD_NAME,
               B.STCK_CLPR,
               B.acml_vol,
               B.prdy_vrss,
               B.prdy_vrss_sign
        from TB_STOCK_INFO A
                 INNER JOIN TB_STOCK_PRICE_DAILY B
                            On A.CODE = B.CODE
        where B.STCK_BSOP_DATE = (select STCK_BSOP_DATE
                                  from (select STCK_BSOP_DATE from TB_STOCK_PRICE_DAILY order by STCK_BSOP_DATE desc)
                                  where rownum = 1)
        order by TO_NUMBER(ACML_VOL) desc
    </select>

    <select id="selectAccountStockList" resultType="com.mrbonk97.hanadangdangbe.dto.AccountStockDto">
        select B.CODE                                                     as code,
               C.PRDT_ABRV_NAME                                           as title,
               A.QUANTITY                                                 as quantity,
               A.PURCHASE_PRICE                                           as price,
               A.TOTAL_PRICE                                              as purchase_total_price,
               B.STCK_CLPR                                                as current_price,
               B.STCK_CLPR * A.QUANTITY                                   as current_total_price,
               B.STCK_CLPR * A.QUANTITY - A.TOTAL_PRICE                   as profit,
               (B.STCK_CLPR * A.QUANTITY - A.TOTAL_PRICE) / A.TOTAL_PRICE as profit_percentage
        from TB_ACCOUNT_STOCK A
                 inner join (select *
                             from TB_STOCK_PRICE_DAILY
                             where STCK_BSOP_DATE = (select MAX(STCK_BSOP_DATE) FROM TB_STOCK_PRICE_DAILY)) B
                            on SUBSTR(A.STOCK_INFO_PDNO, 7) = B.CODE
                 inner join TB_STOCK_INFO C
                            on A.STOCK_INFO_PDNO = C.PDNO

        where A.ACCOUNT_ACCOUNT_NO = #{accountNo}
        order by current_total_price desc
    </select>


    <select id="selectAccountProfitEstimate" resultType="com.mrbonk97.hanadangdangbe.dto.AccountProfitEstimateDto">
        SELECT A.id,
               C.CODE,
               C.PRDT_ABRV_NAME              as title,
               A.QUANTITY,
               A.PURCHASE_PRICE,
               A.TOTAL_PRICE,
               NVL(A.QUANTITY * B.AMOUNT, 0) AS ESTIMATE_PROFIT,
               NVL(B.AMOUNT, 0)              as amount,
               NVL(B.PERCENTAGE, 0)          as percentage
        FROM TB_ACCOUNT_STOCK A
                 INNER JOIN TB_STOCK_INFO C
                            ON A.STOCK_INFO_PDNO = C.PDNO
                 LEFT OUTER JOIN (SELECT CODE,
                                         TITLE,
                                         SUM(AMOUNT)           AS AMOUNT,
                                         AVG(YIELD_PERCENTAGE) AS PERCENTAGE
                                  FROM (SELECT *
                                        FROM TB_DIVIDEND_HISTORY
                                        WHERE LOCK_DATE &gt;= TO_DATE('2023-01-01', 'YYYY-MM-DD')
                                          AND LOCK_DATE &lt;= TO_DATE('2023-12-31 23:59:59', 'YYYY-MM-DD HH24:MI:SS'))
                                  GROUP BY CODE, TITLE) B ON SUBSTR(A.STOCK_INFO_PDNO, 7) = B.CODE
        WHERE A.ACCOUNT_ACCOUNT_NO = #{accountNo}
        ORDER BY AMOUNT DESC
    </select>

    <select id="selectAccountMonthlyProfitEstimate"
            resultType="com.mrbonk97.hanadangdangbe.dto.AccountMonthlyProfitEstimateDto">
        SELECT A.id,
               B.CODE,
               B.TITLE,
               A.QUANTITY,
               A.PURCHASE_PRICE,
               A.TOTAL_PRICE,
               NVL(A.QUANTITY * B.AMOUNT, 0) AS ESTIMATE_PROFIT,
               NVL(B.AMOUNT, 0)              as amount,
               NVL(B.YIELD_PERCENTAGE, 0)    as percentage,
               B.LOCK_DATE
        FROM TB_ACCOUNT_STOCK A
                 LEFT OUTER JOIN (SELECT CODE,
                                         TITLE,
                                         AMOUNT,
                                         YIELD_PERCENTAGE,
                                         LOCK_DATE
                                  FROM (SELECT *
                                        FROM TB_DIVIDEND_HISTORY
                                        WHERE LOCK_DATE &gt;= TO_DATE('2023-01-01', 'YYYY-MM-DD')
                                          AND LOCK_DATE &lt;=
                                              TO_DATE('2023-12-31 23:59:59', 'YYYY-MM-DD HH24:MI:SS'))) B
                                 ON SUBSTR(A.STOCK_INFO_PDNO, 7) = B.CODE
        WHERE A.ACCOUNT_ACCOUNT_NO = #{accountNo}
          AND CODE IS NOT NULL
        ORDER BY LOCK_DATE DESC
    </select>

    <select id="selectDividendRecommendList"
            resultType="com.mrbonk97.hanadangdangbe.dto.selectDividendRecommendList">
        with TBL1 as (select *
                      from TB_DIVIDEND_HISTORY
                      WHERE LOCK_DATE &gt;= TO_DATE('2023-01-01', 'YYYY-MM-DD')
                        AND LOCK_DATE &lt;= TO_DATE('2023-12-31', 'YYYY-MM-DD')
                        AND YIELD_PERCENTAGE IS NOT NULL
                        AND YIELD_PERCENTAGE > 0),
             TBL2 as (select CODE, MAX(YIELD_PERCENTAGE) as MAX_YIELD, SUM(AMOUNT) as SUM_AMOUNT
                      from TB_DIVIDEND_HISTORY
                      WHERE LOCK_DATE &gt;= TO_DATE('2023-01-01', 'YYYY-MM-DD')
                        AND LOCK_DATE &lt;= TO_DATE('2023-12-31', 'YYYY-MM-DD')
                        AND YIELD_PERCENTAGE IS NOT NULL
                        AND YIELD_PERCENTAGE > 0
                      GROUP BY CODE)
        select Tbl1.*, EXTRACT(MONTH FROM TBL1.LOCK_DATE) AS month, TBL2.MAX_YIELD, TBL2.SUM_AMOUNT
        from TBL1
                 inner join TBL2
                            ON TBL1.CODE = TBL2.CODE
        ORDER BY TBL2.MAX_YIELD DESC
    </select>

    <select id="selectfindStockByName" resultType="com.mrbonk97.hanadangdangbe.dto.SearchStockDto">
        select A.PRDT_ABRV_NAME, A.CODE, D.STCK_CLPR, D.PRDY_VRSS
        from TB_STOCK_INFO A
                 INNER JOIN(select B.*
                            FROM TB_STOCK_PRICE_DAILY B
                                     INNER JOIN(select code, MAX(STCK_BSOP_DATE) AS RECENT_DATE
                                                from TB_STOCK_PRICE_DAILY
                                                GROUP BY CODE) C
                                               ON B.CODE = C.CODE AND B.STCK_BSOP_DATE = C.RECENT_DATE) D
                           ON A.CODE = D.CODE
        WHERE A.PRDT_NAME LIKE '%' || #{keyword} || '%'
    </select>

    <select id="selectfindStockListPage" resultType="com.mrbonk97.hanadangdangbe.dto.StockListDto">
        select *
        FROM (select ROWNUM as RN,
                     PRDT_ABRV_NAME,
                     code,
                     std_idst_clsf_cd_name,
                     stck_clpr,
                     acml_vol,
                     ACML_TR_PBMN,
                     prdy_vrss
              FROM (select A.PRDT_ABRV_NAME,
                           A.code,
                           A.std_idst_clsf_cd_name,
                           D.stck_clpr,
                           D.acml_vol,
                           D.ACML_TR_PBMN,
                           D.prdy_vrss
                    from TB_STOCK_INFO A
                             INNER JOIN (select B.*
                                         FROM TB_STOCK_PRICE_DAILY B
                                                  INNER JOIN (select code, MAX(STCK_BSOP_DATE) AS RECENT_DATE
                                                              from TB_STOCK_PRICE_DAILY
                                                              GROUP BY CODE) C
                                                             ON B.CODE = C.CODE AND B.STCK_BSOP_DATE = C.RECENT_DATE) D
                                        ON A.CODE = D.CODE
                    ORDER BY TO_NUMBER(D.ACML_TR_PBMN) DESC))
        WHERE RN &gt; #{page} * 50
          AND RN &lt;= (#{page} + 1) * 50

    </select>
</mapper>